/* allow the left sidebar menu to be scrollable */
@media (min-width: 992px) {
    .bs-sidebar.affix {
        position: fixed;
        top: 80px;
        overflow-y: scroll;
        max-height: 80%;
    }
}


/* Antenna Header Colours*/


/* most styles are now set in the custom theme folder /antenna-material/ - any extra styles or overides can still be added below */



.antenna-welcome-logo {
    max-width: 300px;
    height: auto;
}

.result p {
    padding-bottom: 16px;
    padding-top: 10px;
}


blockquote {
    padding: 10px 20px;
    margin: 20px 0 20px;
    border-left: 4px solid #6d7ab3;
}

blockquote p:first-of-type {
    margin-top: 0;
}

span.section:after {
    content: "\e602";
    display: block;
    float: right;
    font-family: Icon;
    font-size: 16px;
    width: 1.2em;
    vertical-align: -.1em;
}

.drawer .toc li .section + ul {
    display:none;
}
