/* allow the left sidebar menu to be scrollable */
@media (min-width: 992px) {
    .bs-sidebar.affix {
        position: fixed;
        top: 80px;
        overflow-y: scroll;
        max-height: 80%;
    }
}


/* Antenna Header Colours*/


/* most styles are now set in the custom theme folder /antenna-material/ - any extra styles or overides can still be added below */



.antenna-welcome-logo {
    max-width: 300px;
    height: auto;
}

.result p {
    padding-bottom: 16px;
    padding-top: 10px;
}


blockquote {
    padding: 10px 20px;
    margin: 20px 0 20px;
    border-left: 4px solid #6d7ab3;
}

blockquote p:first-of-type {
    margin-top: 0;
}

/* menu titles with subfolders/sections */
.drawer li span.section {
  color: rgba(0,0,0,.87);
  cursor: pointer;
}

.drawer li span.section.expanded {
  background-color: #a6b2e4;
  color: white;
}

span.section:after {
    content: "\e602";
    display: block;
    float: right;
    font-family: Icon;
    font-size: 16px;
    width: 1.2em;
    vertical-align: -.1em;
    transition: transform .5s ease-in-out;
    transform: rotate(90deg);
}
span.section.expanded:after {
  transform: rotate(180deg);
  transition: transform .3s ease-in;
}

.drawer .scrollable {
  top: 20px;
}
/* submenus inside sections */
.drawer .toc li .section + ul {
    display:none;
}
.drawer .toc li .section.expanded + ul {
    display:block;
}
